@import "tailwindcss";
@import "tailwindcss";

@theme {
  --color-main: #1c4d8d;
  --color-secondary: #3858c4;
}
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility main-section {
  @apply bg-slate-50 h-screen;
}

html,
body {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
label {
  color: #1c4d8d;
}
input,
textarea {
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
}
