@import "tailwindcss";
@import "tailwindcss";

@theme {
  --color-main: #1c4d8d;
  --color-secondary: #3858c4;
}
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility main-section {
  @apply bg-slate-50 h-screen;
}

html,
body {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
label {
  color: #1c4d8d;
}
input,
textarea {
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
}
h2 {
  color: #3858c4;
  text-align: right;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
::selection {
  background-color: #3859c460;
}
